.d1
{
    background-color:yellow; 
     padding:2px;	
}
.d2
{
    background-color:orange;
	     padding:2px;	

}
.d3
{
    background-color:yellow;
	     padding:2px;	

}
.d4
{
    background-color: orange;
	     padding:2px;	

}